@model PizzaOrderingSystemAPI.Models.OrderInfo

<img src="~/images/logo.jpg" height="100" width="100" />

<div>
    <h4>Order</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pizzas.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pizzas.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pizzas.IsVeg)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pizzas.IsVeg)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Pizzas.Rate)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Pizzas.Rate)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerDetails.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerDetails.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerDetails.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerDetails.PhoneNumber)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerDetails.Toppings)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerDetails.Toppings)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerDetails.Quantity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerDetails.Quantity)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerDetails.Crust)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerDetails.Crust)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CustomerDetails.Delivery)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CustomerDetails.Delivery)
        </dd>

    </dl>
</div>
<div>
    <a asp-action="ConfirmOrder" class="btn btn-primary">Confirm Order</a>
    <a asp-action="Index" class="btn btn-danger">Cancel</a>
</div>
